.dashboardArea {
    flex: 1 ;
    padding: calc(var(--padding) * 3);
    @media(max-width: 769px) {
        padding: calc(var(--padding) * 1);
    }
    .clientDetails {
        background-color: var(--color-white);
        padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
        margin-bottom: .5%;
        border-radius: 5px;
        h2 {
            margin: 0;
            padding-bottom: calc(var(--padding) / 3);
        }
    }
    .installation {
        background-color: var(--color-white);
        padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
        margin-bottom: .5%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        span:first-child {
            padding-bottom: calc(var(--padding) / 2);
        }
    }
    .accounts {
        display: flex;
        @media(max-width: 769px) {
            flex-direction: column;
        }
        .openAccounts {
            flex: 1;
            margin-right: .25%;
            background-color: var(--color-white);
            padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
            border-radius: 5px;
            @media(max-width: 769px) {
                margin: var(--margin) 0;
            }
            .accordion {
                
                .title {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    @media(max-width: 769px) {
                        padding-right: var(--padding);
                    }
                    .text {
                        display: flex;
                        .data {
                            font-weight: normal;
                            font-weight: 600;
                            padding-right: calc(var(--padding) * 2);
                            color: var(--primary-color);
                            @media(min-width: 769px) {
                                width: 180px;
                            }
                            text-transform: capitalize;
                        }
                        .value {
                            color: var(--primary-color);
                        }
                    }
                    .status {
                        // color: var(--second-color);
                        font-weight: 600;
                    }
                }
                .buttonsAccordion {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .historyAccounts {
            border-radius: 5px;
            padding: calc(var(--padding) * 1) calc(var(--padding) * 2);
            flex: 1;
            margin-left: .25%;
            background-color: var(--color-white);
            @media(max-width: 769px) {
                margin-bottom: var(--margin);
            }
            .historyList {
                margin: 0;
                padding: 0;
                li {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0,26,87,.2);
                    padding: calc(var(--padding) * .6) 5px ;
                    margin-bottom: calc(var(--margin) * .5);
                    span {
                        text-transform: capitalize;
                    }
                }
            }
            .button {
                display: flex;
                justify-content: flex-end;
                padding-top: calc(var(--padding) / 1.5);
                button {
                    margin: 0;
                }
            }
        }
    }
    .economy {
        display: flex;
        justify-content: space-between;
        @media(max-width: 769px) {
            flex-direction: column;
        }
        .discountAnnual, .economyAnnual, .totalDiscount {
            width: 33%;
            background-color: var(--color-white);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: calc(var(--padding) * 3) 0;
            margin-top: .5%;
            @media(max-width: 769px) {
                width: 100%;
            }
            p {
                padding: 0;
                margin: 0;   
            }
            h3 {
                padding: 0;
                margin: 0;
                padding-top: calc(var(--padding) / 2);
            }
        }
        .economyAnnual {
            background-color: var(--primary-color);
            color: var(--color-white);
        }
    }
}