.tabView {
    .p-tabview-nav {
        .p-unselectable-text {
            // flex: 1;
            // width: calc(100% / 12);
            width: calc(100% / 12);
            @media(max-width: 769px) {
                width: auto;
                min-width: auto;
            }
            .p-tabview-nav-link {
                justify-content: center;
                .p-tabview-title {
                    text-transform: capitalize;
                    font-size: 14px;
                }
                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
    &.historicTab {
        .p-tabview-nav {
            .p-unselectable-text {
                flex: 1;
                margin: 0 calc(var(--margin) * 5);
                @media(max-width: 769px) {
                    margin: 0;
                    width: 50%;
                    min-width: 50%;
                }
            }
        }
    }

    &.supportTab {
        border-radius: 0;
        .p-tabview-panels {
            padding: 0;
            margin-top: calc(var(--margin) / 4);
            background: transparent;
        }
    }

}