.textArea {
    h2 {
        margin: 0;
        padding-bottom: calc(var(--padding) / 3);
        @media(max-width: 769px) {
            font-size: 18px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}