.historic {
    flex: 1;
    padding: calc(var(--padding) * 3);
    .clientDetails {
        background-color: var(--color-white);
        padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
        margin-bottom: .5%;
        border-radius: 5px;
        h2 {
            margin: 0;
            padding-bottom: calc(var(--padding) / 3);
        }
    }
    .installation {
        background-color: var(--color-white);
        padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
        margin-bottom: .5%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        span:first-child {
            padding-bottom: calc(var(--padding) / 2);
        }
    }
    .historicTab {
        .accordion {
            .title {
                display: flex;
                justify-content: space-between;
                .text {
                    flex: 1;
                    display: flex;
                    span {
                        width: 15vw;
                        &.data {
                            font-weight: normal;
                        }
                    }
                }
            }
            .buttonsAccordion {
                button {
                    margin: 0;
                    margin-right: calc(var(--margin) * 2);
                }
            }
        }
    }
    .historicCharts {
        padding: .5% 0 var(--padding);
        border-radius: 5px;
        overflow: hidden;
    }
}