.clientDetails {
    background-color: var(--color-white);
    padding: calc(var(--padding) * 1) calc(var(--padding) * 1.5);
    margin-bottom: .5%;
    border-radius: 5px;
    h2 {
        margin: 0;
        padding-bottom: calc(var(--padding) / 3);
    }
}