.loading {
    height: 100%;
    // height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-loader-one);
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    .loadingContent {
        width: var(--loader-size-one);
        height: var(--loader-size-one);
      
        .loadingRing {
          position: absolute;
          width: var(--loader-size-one);
          height: var(--loader-size-one);
          
          &:first-child {
            transform: skew(30deg,20deg);
            svg {
                animation: rotate 1s linear infinite;
                fill: rgba(12, 63, 155, .5);
            }
          }
      
          &:last-child {
            transform: skew(-30deg,-20deg) scale(-1, 1);
      
            svg {
                animation: rotate 1s linear infinite;
                fill: rgba(116, 222, 40, .5);
                animation-delay: -0.5s;
            }
          }
      
          
        }
        
    }
    .logo {
        position: absolute;
        svg {
            width: 120px;
            animation: logoAnimation 1s linear infinite;
        }
    }
}

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    0% {
        transform: scale(1);
    }
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}