.historicTab {
    .list {
        .title {
            display: flex;
            justify-content: space-between;
            padding: calc(var(--padding) * 1.5) calc(var(--padding) * 1.2);
            border-bottom: 1px solid rgba(0, 26, 87, 0.2);
            align-items: center;
            .text {
                // flex: 1;
                display: flex;
                width: 80%;
                .period, .value, .consume {
                    width: 25%;
                    span {
                        text-transform: capitalize;
                        // font-weight: bold;
                        opacity: .8;
                    }
                }
                .status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
            }
            .button {
                width: 150px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a {
                    margin: 0;
                    // margin-left: calc(var(--margin) * 2);
                }
            }
        }
        .headerList {
            display: flex;
            justify-content: space-between;
            padding: calc(var(--padding) * 1.5) calc(var(--padding) * 1.2);
            border-bottom: 1px solid rgba(0, 26, 87, 0.2);
            align-items: center;
            .text {
                // flex: 1;
                display: flex;
                width: 80%;
                .period, .value, .consume {
                    width: 25%;
                }
                span {
                    text-transform: capitalize;
                    font-weight: bold;
                    opacity: .8;
                }
            }
            .status {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                span {
                    text-transform: capitalize;
                    font-weight: bold;
                    opacity: .8;
                }
            }
            .button {
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    text-transform: capitalize;
                    font-weight: bold;
                    opacity: .8;
                }
            }
        }
    }
}