.accountsComponent {
    flex: 1;
    padding: calc(var(--padding) * 3);
    max-height: calc(100vh - 90px);
    overflow: auto;
    @media(max-width: 769px) {
        padding: calc(var(--padding) * 1);
    }
}